<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336552276943-a5eonjesot2b9jp1d427eav5465m2vb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336552276943-a5eonjesot2b9jp1d427eav5465m2vb2</string>
	<key>API_KEY</key>
	<string>AIzaSyDO3W-Ib6d6VvQIrT69WSeYTeRyAvhxj00</string>
	<key>GCM_SENDER_ID</key>
	<string>336552276943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.mobile-innovation.firebase-testapp-ios</string>
	<key>PROJECT_ID</key>
	<string>test-app-269c7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-269c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336552276943:ios:105cc060f9472492f4d8ba</string>
</dict>
</plist>